.projects-underline{
  position: relative;
}
.projects-underline::after{
  display: block;
  position: absolute;
  left: 10%;
  bottom: -30px;
  width: 80%;
  height: 8px;
  background-color: rgb(59 130 246);
  content: "";
}